
.square1 {
    margin: auto;
    background-color: whitesmoke;
    width: 300px;
    height: 420px;
    padding: 10px;
    display: center;
    border: 0.5rem outset #019587;
  }
  .square2 {
    margin: auto;
    background-color: whitesmoke;
    width: 300px;
    height: 535px;
    padding: 10px;
    display: center;
    border: 0.5rem outset #019587;
  }
