
.square1 {
    margin: auto;
    background-color: #019587;
    width: 300px;
    height: 365px;
    padding: 10px;
    display: center;

  }
  .square2 {
    margin: auto;
    background-color: #019587;
    width: 300px;
    height: 410px;
    padding: 10px;
    display: center;

  }
